name: AssignReviewers

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  add-reviewer:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/assign-reviewers
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config: "REVIEWERS"
